<section class="mandata section animated-element" id="mandata">

  <h2 class="section__title">Áreas de atuação</h2>

  <div class="mandata__grid container grid">

    <div class="mandata__grid-item">
      <img src="/routes/4_atuacao/1_areas/direitos-humanos.webp" alt="" class="grid__item-img">
      <div class="grid__item-title" category="educacao">Educação</div>
    </div>

    <div class="mandata__grid-item">
      <img src="/routes/4_atuacao/1_areas/cultura.webp" alt="" class="grid__item-img">
      <div class="grid__item-title" category="mulheres">Mulheres</div>
    </div>

    <div class="mandata__grid-item">
      <img src="/routes/4_atuacao/1_areas/educacao.webp" alt="" class="grid__item-img">
      <div class="grid__item-title" category="movimento-negro">Movimento negro</div>
    </div>

    <div class="mandata__grid-item">
      <img src="/routes/4_atuacao/1_areas/meio-ambiente.webp" alt="" class="grid__item-img">
      <div class="grid__item-title" category="movimento-lgbtqia">Movimento LGBTQIA+</div>
    </div>

  </div>

</section>