<header class="header" id="header">

  <nav class="nav container">
    <a href="/" class="nav__logo">
      <img src="/assets/blocks/header/logo_completo.png" alt="" class="nav__logo-img">
    </a>

    <div class="nav__menu" id="nav-menu">
      <ul class="nav__list">
        <li class="nav__item">
          <a href="/" class="cur__link nav__link">Início</a>
        </li>

        <li class="nav__item">
          <a href="/quem_somos" class="cur__link nav__link">Quem somos</a>
        </li>
        
        <li class="nav__item">
          <a href="/atuacao" class="cur__link nav__link">Atuação</a>
        </li>

        <li class="nav__item dropdown">
          <div class="collapsible-head nav__link">Imprensa</div>

          <div class="dropdown-content content">
            <a class="cur__link" href="/artigos">Artigos</a><br class="hidedesktop">
            <a class="cur__link" href="/namidia">Na mídia</a>
            <a class="cur__link" href="/galeria">Galeria</a>
          </div>
        </li> 

        <li class="nav__item dropdown">
          <div class="collapsible-head nav__link">Participe</div>

          <div class="dropdown-content content">
            <a class="cur__link" href="/gabinete">Gabinete online</a><br class="hidedesktop">
            <a class="cur__link" href="/comotatuarua">Como tá a tua rua?</a>
          </div>
        </li>

        <li class="nav__item">
          <a href="/etudopraontem" class="cur__link nav__link">Manifesto</a>
        </li>

      </ul>

      <div class="nav__close" id="nav-close">
        <i class="uil uil-times"></i>
      </div>

      <img src="/assets/blocks/header/logo.png" alt="" class="nav__img">
    </div>

    <div class="nav__btns">

      <i class="uil uil-moon change-theme" id="theme-button"></i>

      <div class="nav__toggle" id="nav-toggle">
        <i class="uil uil-apps"></i>
      </div>

    </div>

  </nav>

</header>
