<section class="about section" id="about">

  <h2 class="section__title">Imagens</h2>

  <div class="images__container container">

    <div action="#" class="images-grid">
      
      <div class="image-item">
        <div class="image-name">Imagem quem somos</div>
        <input class="image-value image-input" type="text" name="imagem_quem_somos_1" value='<%=images.imagem_quem_somos_1%>'>
      </div>

      <div class="image-item">
        <div class="image-name">Imagem inicial</div>
        <textarea class="image-value image-input" type="text" rows="5" name="imagem_inicial"><%=images.imagem_inicial%></textarea>
      </div>

      <div class="submit-button">
        <button type="submit" onclick="updateImages()" class="myBtn button">Atualizar</button>
      </div>
    </div>

  </div>

</section>