<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Beatriz Caminha - Vereadora de Belém pelo PT</title>
<link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
<link rel="icon" sizes="192x192" href="/assets/global/favicon.png">

<link rel="stylesheet" href="/assets/global/styles.css">
<link rel="stylesheet" href="/assets/blocks/top-header/top-header.css">
<link rel="stylesheet" href="/assets/blocks/footer/footer.css">

<link rel="stylesheet" href="/assets/blocks/header/header.css">
<script defer src="/../assets/blocks/header/header.js"></script>

<!--==================== FEATURES ====================-->

<link rel="stylesheet" href="/../assets/features/switch-theme/switch-theme.css">
<script defer src="/../assets/features/switch-theme/switch-theme.js"></script>

<link rel="stylesheet" href="/../assets/features/scroll-up/scroll-up.css">
<script defer src="/../assets/features/scroll-up/scroll-up.js"></script>

<script defer src="/../assets/features/scroll-reveal/scrollreveal.min.js"></script>
<script defer src="/../assets/features/scroll-reveal/scroll-reveal.js"></script>