<section class="about section" id="about">

  <h2 class="section__title">Formulários</h2>

  <div class="forms__container container">

    <div action="#" class="forms-grid">
      <div class="form-item">
        <div class="form-name">Gabineto online</div>
        <input class="form-value form-input" type="text" name="gabinete_online" value='<%=forms.gabinete_online%>'>
      </div>

      <div class="form-item">
        <div class="form-name">Como tá a tua rua?</div>
        <input class="form-value form-input" type="text" name="como_ta_tua_rua" value="<%=forms.como_ta_tua_rua%>">
      </div>

      <div class="form-item">
        <div class="form-name">Manifesto</div>
        <input class="form-value form-input" type="text" name="manifesto" value="<%=forms.manifesto%>">
      </div>

      <div class="submit-button">
        <button type="submit" onclick="updateForms()" class="myBtn button">Atualizar</button>
      </div>
    </div>

  </div>

</section>