<!DOCTYPE html>
<html lang="pt-br">

<head>
  <%- include('../partials/head'); %>
  <link rel="stylesheet" href="assets/css/botStatus.css">
</head>

<body id="body-pd">

  <header>
    <%- include('../partials/header'); %>
  </header>

  <%- include('../partials/sidebar'); %>

  <div class="bot-status-container">
    <div class="bot-status-title">Status dos bots</div>
    <div class="bot-status-grid">
      
      <div class="bot-item">
        <div class="bot-item-name">WPP BOT</div>
        <div class="bot-item-status">Ativo</div>
      </div>
      
      <div class="bot-item">
        <div class="bot-item-name">SPY BOT</div>
        <div class="bot-item-status">Ativo</div>
      </div>
      
      <div class="bot-item">
        <div class="bot-item-name">ALI BOT</div>
        <div class="bot-item-status">Ativo</div>
      </div>

      <div class="bot-item">
        <div class="bot-item-name">NF BOT</div>
        <div class="bot-item-status">Ativo</div>
      </div>

    </div>
  </div>

  <script src="/assets/js/main.js"></script>
</body>

</html>