<footer class="footer section">

  <div class="footer__socials-container container grid">

    <div class="footer__div">
    
      <div class="footer__title">SIGA BIA NAS REDES</div>
  
      <div class="footer__socials container grid">
        <a class="socials__img" target="_blank" href="https://wa.me/5591982245735"><img src="/assets/blocks/footer/social/zap.png" alt="img"></a>
        <a class="socials__img" target="_blank" href="https://www.instagram.com/beatrizcaminha"><img src="/assets/blocks/footer/social/insta.png" alt="img"></a>
        <a class="socials__img" target="_blank" href="https://www.facebook.com/vereadorabiacaminha"><img src="/assets/blocks/footer/social/fb.png" alt="img"></a>
        <a class="socials__img" target="_blank" href="https://twitter.com/beatrizcaminha"><img src="/assets/blocks/footer/social/twitter.png" alt="img"></a>
        <a class="socials__img" target="_blank" href="https://www.tiktok.com/@beatrizcaminha13"><img src="/assets/blocks/footer/social/tik.png" alt="img"></a>
      </div>
    </div>
  
    <div class="footer__div">
      <div class="footer__title">GABINETE</div>
      <div class="location__end">
        <p>Câmara Municipal de Belém</p>
        <p>Travessa Curuzu, 1755. 2º andar. Gabinete 29</p>
        <p>Marco, Belém - PA. 66093-540</p>
      </div>
    </div>
  </div>

  <span class="footer__logo"><img class="foot__img" src="/assets/blocks/footer/logo.png" alt="" srcset=""></span>
  <span class="footer__copy">Bia caminha. Todos os direitos reservados. <span class="version">V</span>.</span>
</footer>