<div id="top-header">

  <div class="top1 top_text">Siga Bia nas redes</div>
  <div class="top3 top_text mob-hide">Chama a Bia no zap!</div>
  <div class="top2 top_block top_socials">
    <a target="_blank" href="https://www.instagram.com/beatrizcaminha"><img class="top_socials__img" src="/assets/blocks/top-header/images/instagram.png" alt="img"></a>
    <a target="_blank" href="https://www.facebook.com/vereadorabiacaminha"><img class="top_socials__img" src="/assets/blocks/top-header/images/facebook.png" alt="img"></a>
    <a target="_blank" href="https://twitter.com/beatrizcaminha"><img class="top_socials__img" src="/assets/blocks/top-header/images/twitter.png" alt="img"></a>
    <a target="_blank" href="https://tiktok.com/@beatrizcaminha13"><img class="top_socials__img" src="/assets/blocks/top-header/images/tik.png" alt="img"></a>
  </div>
  <div class="top4 top_block">
    <a href="https://wa.me/5591982245735">
      <img class="button-zap" src="/assets/blocks/top-header/images/botao_zap.png" alt="Botao">
    </a>
  </div>

</div>