<section class="mandata section animated-element" id="mandata_projects">

  <h2 class="section__title">Projetos</h2>

  <div class="mandata__projects container grid">
<!-- 
    <% mandata.forEach(function(mandata) { %>

      <a target="_blank" class="mandata__project" href="<%=mandata.mandata_link%>">
        <img src="/routes/4_atuacao/2_projects/project__img.png" alt="" class="project__img">
        <p class="project__name"><%=mandata.mandata_title%></p>
        <img src="/routes/4_atuacao/2_projects/pdf.png" alt="" class="project__download">
      </a>

    <% }); %> -->

    
  </div>

</section>