<section class="galery section" id="galery">

  <h2 class="section__title">Últimas fotos</h2>
  <!-- <span class="section__subtitle">Get in touch</span> -->

  <div class="galery-container container">

    <p class="articles__description">Confira as últimas fotos do nosso trabalho. Para acompanhar em detalhes, veja a seção <a href="/galeria"><span style="font-weight: bold;">Galeria</span></a>.</p>

    <div class="galery-img grid">

    </div>

  </div>

</section>