<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../../../assets/global/default-head.ejs'); %>
  <link rel="stylesheet" href="/routes/5_imprensa/galeria/galeria.css">
  <script src="/routes/5_imprensa/galeria/galeria.js"></script>
  <script defer src="/routes/5_imprensa/galeria/galeria_animate.js"></script>
</head>


<body>
  <!--==================== HEADER ====================-->
  <%- include('../../../assets/blocks/top-header/top-header.ejs'); %>

  <!--==================== HEADER ====================-->
  <%- include('../../../assets/blocks/header/header'); %>

    <!--==================== MAIN ====================-->
    <main class="main">

      <section class="galery section animated-element" id="galery">

        <h2 class="section__title">Galeria</h2>
        <!-- <span class="section__subtitle">Get in touch</span> -->

        <div class="galery-container container">
          <!--  -->
          <div class="galery-img grid"> 

          </div>

        </div>

      </section>
    </main>

    <!--==================== FOOTER ====================-->
    <%- include('../../../assets/blocks/footer/footer.ejs'); %>

    <!--==================== SCROLL TOP ====================-->
    <a href="#" id="scroll-up" class="scrollup">
      <i class="uil uil-arrow-up scrollup__icon"></i>
    </a>

</body>

</html>