<section class="about section animated-element" id="number">

  <h2 class="section__title">Atuação parlamentar</h2>

  <div class="number__container container">

    <div class="number__data">
      <p class="number__description">Confira as proposições da parlamentar voltadas para Belém. Para acompanhar em detalhes, veja a seção <a href="/atuacao"><span style="font-weight: bold;">Atuação</span></a>.</p>
  
      <div class="number__number-grid grid">
        <a target="_blank" href="/atuacao?type=projetos_de_lei" class="number__number-item">
          <span class="number__info-title" name="projetos_de_lei" value="<%=numbers.projetos_de_lei%>"></span>
          <span class="number__info-name">Projetos<br>de lei</span>
        </a>
  
        <a  target="_blank" href="/atuacao?type=requerimentos" class="number__number-item">
          <span class="number__info-title" name="requerimentos" value="<%=numbers.requerimentos%>"></span>
          <span class="number__info-name">Requerimentos</span>
        </a>
  
        <a  target="_blank" href="/atuacao?type=oficios" class="number__number-item">
          <span class="number__info-title" name="oficios" value="<%=numbers.oficios%>"></span>
          <span class="number__info-name">Ofícios</span>
        </a>
        
        <a  target="_blank" href="/atuacao?type=sessoes_especiais" class="number__number-item">
          <span class="number__info-title" name="sessoes_especiais" value="<%=numbers.sessoes_especiais%>"></span>
          <span class="number__info-name">Sessões especiais</span>
        </a>

      </div>
  
    </div>
  
  </div>


</section>